ipykernel
numpy
pandas
nbformat
plotly
matplotlib
seaborn
flask
memory_profiler
streamlit
scikit-learn
tensorflow
tensorboard
nltk
scikeras
langchain
python-dotenv
langchain_community
pypdf
bs4
arxiv
pymupdf